.circle {
  $self: &;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: -25px;
  margin-top: -25px;
  z-index: 100;
  pointer-events: none;
  border-radius: 50%;
  mix-blend-mode: difference;

  &__content {
    background-color: #fff;
    transform-origin: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: 0.5s cubic-bezier(1, 0, 0, 1);
  }

  &.scale #{$self}__content {
    transform: scale(100);
  }

  &.color-change .circle__content {
    background-color: burlywood;
  }
}

.test {
  position: absolute;
  top: 50%;
  left: 20%;
  width: 200px;
  height: 130px;
  background-color: firebrick;
}

.test2 {
  left: 50%;
}
