// main: ../index.scss

// FONT STUFF
$font-primary: 'Work Sans', serif;
$font-secondary: 'Taviraj', sans-serif;

$font-size: 0.9rem;
$font-line-height-primary: 1.5;
// $font-line-height-primary: $font-size * 1.3333333333333333;

$font-color-primary: #373737;
$font-color-accent: #fff;

// MAIN COLORS
$color-primary: #f2f2f2;
$color-primary-dark: #000;
$color-primary-light: #222;

$color-secondary: #373737;
$color-secondary-dark: #828282; // 9a9a9a
$color-secondary-light: #ddd;

$color-tertiary: #fff;
$color-tertiary-light: rgba(255, 255, 255, 0.5);
$color-tertiary-dark: rgba(255, 255, 255, 0.75);

$color-accent: #ff6a6a;

$success: rgb(105, 255, 74);
$error: rgb(255, 64, 64);

$selection-color: $font-color-accent;
$selection-bg-COLOR: $color-accent;
