// main: ../index.scss

h1, h2, h3, h4, h5, h6 {
  font-family: $font-secondary;
  font-weight: 700;
  font-stretch: condensed;
  padding: 0;
  line-height: 1.2;
  margin: 8px 0;
  color: inherit;
}

a {
  @include transition();
  color: $color-accent;

  &:active {
    color: none;
  }
}

span {
  display: inline-block;
}

.main-title {
  font-size: 35px;
  @include respond-to($medium-large) {
    font-size: 160px;
    line-height: 1.0625;
  };
  padding-bottom: 20px;
}

.text-main, p {
  font-family: $font-secondary;
}


.uppercase {
  text-transform: uppercase;
}

// align classes
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.align-justify {
  text-align: justify;
}
.align-justify-center {
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
}
