// main: ../index.scss

.nop {
  padding: 0 !important;
}
.nop-sm {
  @include respond-to('(max-width: 768px)') {
    padding: 0 !important;
  };
}
.nopr {
  padding-right: 0 !important;
}
.nopl {
  padding-left: 0 !important;
}
.nopb {
  padding-bottom: 0 !important;
}
.nopt {
  padding-top: 0 !important;
}

.nom {
  margin: 0 !important;
}
.nomb {
  margin-bottom: 0 !important;
}
.nomt {
  margin-top: 0 !important;
}

.main-content {
  padding: 0 16px;

  @include respond-to($medium) {
    padding: 0 calc(4vw + 20px)
  };
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  @include respond-to($medium-small) {
    padding: 15px;
  };

  &-small {
    @extend .container;
    max-width: 320px;
  }
  &-middle-small {
    @extend .container;
    max-width: 680px;
  }
  &-middle {
    @extend .container;
    max-width: 810px;
  }
  &-middle-big {
    @extend .container;
    max-width: 976px;
  }
  &-big {
    @extend .container;
    max-width: 1640px;
  }
  &-fw {
    width: 100%;
    max-width: 100%;
  }

  &.mp {
    padding: 60px 25px;
  }
  &-16-9 {
    padding: 0;
    padding-top: 56.25%;

    > * {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.fullScreenSection {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.fw {
  width: 100%;
}
.hw {
  width: 50%;
}
.hh {
  height: 50%;
}
.hh-v {
  height: 50vh;
}
.fh {
  height: 100%;
}
.fh-v {
  height: 100vh;
}

.bg-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-img-contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


.xy-hidden {
  overflow: hidden;
}
.y-hidden {
  overflow-y: hidden;
}

.ca {
  position: absolute;
  &-all {
    @extend .ca;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
  }
  &-y {
    @extend .ca;
    top: 50%;
    @include translateY(-50%);
  }
  &-x {
    @extend .ca;
    left: 50%;
    @include translateX(-50%);
  }
}
