// main: ../index.scss

@mixin flex($vals) {
  @include prefixWebkitMs(flex, $vals);
}

.col-initial {
  padding: 0.9rem;
  width: 100%;
  max-width: 100%;

  @include respond-to($medium-large) {
    &.mp {
      padding: 1.8rem;
    }
    &.mpr {
      padding-right: 3rem;
    }
    &.mpl {
      padding-left: 3rem;
    }
  };
}

@each $media-query, $media-short in $media-list {
  @for $i from 1 through 12 {
    .col-#{$media-short}-#{$i} {
      @extend .col-initial;
    }
    .col-#{$i} {
      @extend .col-initial;
      @include flex(0 0 percentage(0.08333333 * $i));
      max-width: percentage(0.08333333 * $i);
    }
  }
}

@each $media-query, $media-short in $media-list {
  @include respond-to($media-query) {
    .col-#{$media-short} {
      @for $i from 1 through 12 {
        &-#{$i} {
          @include flex(0 0 percentage(0.08333333 * $i));
          max-width: percentage(0.08333333 * $i);
        }
      }
    }
  };
}

.col {
  padding: 0.7rem;
  flex-grow: 1;
  max-width: 100%;
}
