// main: ../index.scss

.overflow-scroll {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  background-color: #fff;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $color-primary;
  border-radius: 4px;
}
