@import "base/fonts";

@import "utils/mixins";
@import "utils/media-querys";
@import "utils/variables";

@import "base/base";
@import "base/normalize";
@import "base/typography";
@import "base/colors";

@import "layout/flexbox";
@import "layout/grid";
@import "layout/basic-layouts";

@import "singleStyles/shadows";
@import "singleStyles/scrollable";
@import "singleStyles/overlay";

@import "components/stuff";
@import "components/project";
@import "components/follow-circle";

.noscroll {
  overflow: hidden;
}

.scrolltainer > * {
  height: 100%;
}
